:root {
    --mainPink-bg-color: #c83660;
    --secondary-bg-color: #3a1f5d;
    --third-color: #e15249;
    --yellow-color: #f6d365;
}

select {
    font-size: 25px;
    width: 100%;
    padding: 10px;
}

.btn-color {
    background-color: var(--mainPink-bg-color);
    color: var(--secondary-bg-color);
}

.btn-lg {
    padding: 1rem 1.2rem;
    font-size: 2rem;
    line-height: 1.5;
    border-radius: .3rem;
}

option {
    text-align: center;
}

label {
    font-size: 25px;
    color: var(--secondary-bg-color);
}

cards {
    font-size: 25px;
}

.doggo-title {
    background-color: var(--mainPink-bg-color);
}

h1 {
    color: var(--secondary-bg-color);
}

.secondary-color {
    background-color: var(--yellow-color);
}